*{
    margin: 0px;
}
div{
    background-color: aqua;
    /* border-width: 2px;
    border-style: solid;
    border-color: brown; */
    /* padding-top:25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    1em=16px rem=16px vh=alto total de mi pantalla vw ancho total de mi pantalla con valores en porcentajes 50% */
    padding: 25px 10px 15px;
    border:10px solid orange;
    /* border-radius: 50px 0px 50px 0px; */
    font-size: 20px;
    margin-bottom: 20px;
    width: 100vw;
    height: 100vh;
}

.soldado{
    margin: 100px;
}

img{
    width: 250px;
    height: 250px;
}

/* div:hover{
    border-radius: 0px 50px 0px 50px;
} */